# Python byte-compiled code
*.pyc
*__pycache__*

# Setuptools utilities
*.egg*
dist/
build/

# Environment configuration
.python-version
.env/
venv/

# Logs
*.log*

# Editor config
.idea/
.vscode/

# Test-related
.coverage
